body {
  background-color: #ffffff;
}

.title-wrapper {
  margin-top: 10%;
  text-align: center;
}

.input-wrapper {
  margin-top: 3%;
}

.glyphicon-link {
  margin-top: 3%;
  font-size: 3em;
  color: #4c4c4c;
}

.result-wrapper {
  margin-top: 5%;
  text-align: center;
}

.result {
  color: #4c4c4c;
  text-decoration: underline;
  font-size: 2em;
}
