body {
  background-color: #ffffff;
}

.title-wrapper {
  margin-top: 8%;
  text-align: center;
}

.input-wrapper {
  margin-top: 3%;
}

.glyphicon-link {
  margin-top: 3%;
  font-size: 3em;
  color: #4c4c4c;
}

.result-wrapper {
  margin-top: 5%;
  text-align: center;
}

.result {
  color: #4c4c4c;
  text-decoration: underline;
  font-size: 2em;
}

.github-link {
  text-align: center;
  color: #4c4c4c;
}

.github-icon {
  margin-top: 2%;
  color: #4c4c4c;
}

.github-icon:hover {
  margin-top: 2%;
  color: #F45B69;
}
